<!DOCTYPE html>
<html>
<head>
  <title>RECIPES</title>
  <link rel="stylesheet" type="text/css" href="/styles/text.css">
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/recipes">Recipe Book</a>
  <a href="/shopping_list">Shopping List</a>
  <a href="/recipes/new">Add a recipe</a>
</nav>
<div class="footer">by Adam Baxter</div>
<%= yield %>
</body>
</html>