<!DOCTYPE html>
<html>
<head>
  <title>Adam's Recipes</title>
  <link rel="stylesheet" type="text/css" href="/styles/text.css">
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
</head>
<body class="container">
<h1>Adam's Recipes</h1> <img src='/images/pots.png'>
<nav>
  <a href="/">Home</a>
  <a href="/recipes">Recipe Book</a>
  <a href="/shopping_list">Shopping List</a>
  <a href="/recipes/new">Add a recipe</a>
</nav>
<!-- <div class="footer">by Adam Baxter</div> -->
<%= yield %>
</body>
</html>