<h1><%= @recipe.recipe_name %></h1>

<h2>Ingredients</h2>

<% ingredients = @recipe.ingredients %>

<% for ingredient in ingredients %>
<p> <%= ingredient.name %> 
<% end %> </p>

<h2>Method</h2>
<p><%= @recipe.method %></p>