<br>
<form action="/search/result" method="post">

<input class="search" type="text" name="term" id="term" placeholder="search for an ingredient">
<input class="btn-go" type="submit" value="Go">

</form>