<h2>Shopping List</h2>

<% for item in @list %>
<hr>
<p><%= item.name %></p>
<%end%>
<form action='/shopping_list/delete_all' method="post">
<input class="btn-red", type="submit" value="Delete List">
</form>