<h1>Update Recipe</h1>

<p>Edit the form to update the recipe.</p>

<form action ='/recipes/<%= @recipe.id %>/edit' method="post">

  <input class="recipe-name" type="text" name="recipe_name" id="recipe-name" value="<%= @recipe.recipe_name %>"></input>

  <h2><label for="ingredients">Ingredients:</label></h2>
  <textarea name="ingredients" id="ingredients" rows="9" cols="50" style="font-size: 1em"><% for ingredient in @recipe.ingredients %><%="#{ingredient.name.strip}, " %>
  <% end %>
  </textarea>
  <br>


  <h2><label for="method">Method:</label></h2>

  <textarea name="method" id="method" rows="9" cols="50" style="font-size: 1em"><%= @recipe.method %></textarea>
  <br>
  <input class="btn" type="submit" value="Update Recipe!"/>

</form>
<form action= '/recipes' method="get">
  <input class "btn" type="submit" value="I changed my mind, take me back">
</form>

